[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cercospoRa"]
	path = cercospoRa
	url = https://github.com/paulmelloy/cercospora
